.poll-share-wrapper {
  text-align: center;
  margin-bottom: 2.5em;

  h6 {
    margin-bottom: $base-spacing / 2;
    color: $black;
    text-transform: uppercase;
  }

  .share-url {
    background-color: $white;
    display: inline-block;
    padding: .5em 1em;
  }
}
