.poll-share-wrapper {
  padding: $base-spacing * 2 0;
  text-align: center;
  background-color: $base-accent-color;
  position: relative; // Establish a positioning context for svg
}

.poll-share-content {
  @include display(flex);
  @include align-items(center);
  @include flex-direction(column);
}

.poll-share-title {
  color: $white;
  margin-bottom: $base-spacing;
  text-transform: uppercase;
  font-weight: 600;
  font-family: $sans-serif-font-family;
  letter-spacing: 2px;
  font-size: 1.25em;
}

.poll-share-url {
  overflow: auto;
  margin-bottom: .625em;
  background-color: $white;
  white-space: nowrap;
  box-shadow: $base-box-shadow;

  i {
    padding: .625em;
    font-size: 20px;
    background-color: lighten($base-accent-color, 10);
  }

  p {
    display: inline-block;
    padding: .5em 1em .5em .5em;
  }
}

.poll-share-hint {
  font-size: .8125em;
  font-weight: 600;
}
