.poll-form-wrapper {
  @include outer-container;
  @include pad(0 default);

  form {
    font-size: 1.25em;
  }
}

.poll_question {
  margin-bottom: 2.5rem;
}
.poll_options_text {
  display: inline-block;
}