.question-input-wrapper {
  margin-bottom: $base-spacing;

  &::before {
    content: counter(step-counter);
    padding: .6em 1em;
    color: $black;
    position: absolute;
    line-height: 1;
    content: 'Q';
    font-weight: 600;
  }

  input {
    padding-left: 2.55em;
  }
}
