.poll-results-wrapper {}

.poll-results-content {
  margin-bottom: $base-spacing * 2;
}

.poll-result-question {
  margin-bottom: $base-spacing;
  padding: 0 14px;
  font-size: 1.5em;
  line-height: 1.5em;
}

.poll-result-data {
  @include display(flex);
  @include justify-content(space-around);
  background-color: $white;
  padding: 2em;
}
