.poll-results-wrapper {
  @include outer-container;

  background-color: $white-hover;
  margin-top: 20px;
  margin-bottom: 20px;
  padding: 20px 75px;
  border-radius: $border-radius;

  h2, h4 {
    margin-top: 0;
  }

  @media screen and (max-width: $small-screen) {
    padding: 20px;
  }

  .poll-data {
    @include span-columns(8);

    @media screen and (max-width: $small-screen) {
      @include span-columns(12);
    }
  }

  .poll-meta {
    @include span-columns(4);

    @media screen and (max-width: $small-screen) {
      @include span-columns(12);
    }
  }
}