.poll-results-wrapper {
  @include outer-container;

  background-color: $white-hover;
  margin-top: 20px;
  margin-bottom: 20px;
  padding: 20px 75px;
  border-radius: $border-radius;

  @media screen and (max-width: $small-screen) {
    padding: 20px;
  }

  .option-result {
    margin-bottom: 20px;

    &:last-child {
      margin-bottom: 0;
    }

    .option-text {
      font-size: 18px;
    }

    .option-stats {
      margin-top: 10px;

      .option-count{
        margin-right: 10px;
      }
    }
  }

  .poll-data {
    @include span-columns(8);

    @media screen and (max-width: $small-screen) {
      @include span-columns(12);
    }
  }

  .poll-meta {
    @include span-columns(4);

    @media screen and (max-width: $small-screen) {
      @include span-columns(12);
    }
  }
}