.error-page-wrapper {
}

.error-page-content {
  background-color: $white;
  margin-bottom: $base-spacing;
  max-width: $small-breakpoint;
  padding: 2em 1em;
  box-shadow: $base-box-shadow;
}

.error-page-title {
  font-size: 1.8em;
  margin-bottom: .75em;
  padding-bottom: .25em;
  border-bottom: 4px solid $pomegranate;
  display: inline-block;
}

.error-code {
  color: $pomegranate;
  font-weight: 800;
}
