.page-wrapper {
  margin-bottom: $base-spacing;
}

.page-content {
  padding: 56px 75px;
  background-color: $white;
  color: $font-dark;
  line-height: 1.55;
  padding-right: 80px;

  strong {
    font-weight: 800;
  }

  h1 {
    border-bottom: 4px solid $base-accent-color;
    padding-bottom: .625em;
    margin-bottom: 1em;
    display: inline-block;
    text-transform: uppercase;
  }

  p {
    margin-bottom: $base-spacing;
  }

  li {
    margin-bottom: $base-spacing;
  }
}
