@mixin av-logo($height: 50px) {
  background-image: url(logos/av-logo.svg);
  background-repeat: no-repeat;
  background-size: $height $height;
  display: block;
  font-family: $serif-font-family;
  font-size: $height * .6;
  font-weight: 300;
  height: $height;
  line-height: $height;
  padding-left: $height;
  text-decoration: none;
  white-space: nowrap;
}
