.footer-wrapper {
  background-color: $mine-shaft;
  padding-bottom: $base-spacing;
  padding-top: $base-spacing * 3;
}

.footer-content {
  @include align-items(flex-end);
  @include display(flex);
  @include justify-content(space-between);

  @include media($small-viewport) {
    @include align-items(center);
    @include flex-direction(column);
    @include justify-content(space-around);
  }

  @include media($medium-viewport-up) {
    margin-bottom: $base-spacing;
  }
}

.footer-title {
  @include av-logo;
  color: $white;

  @include media($small-viewport) {
    margin-bottom: $base-spacing;
  }
}

.footer-icon {
  height: 40px;
  width: 40px;
  margin-right: 16px;

  img {
    max-width: 100%;
  }
}

.footer-links {
  text-align: center;
  list-style: none;
  padding-left: 0;

  a {
    color: $white;
    font-size: .8125em;

    &:hover {
      color: darken($white, 10);
    }
  }

  i {
    font-size: 6px;
    color: $base-accent-color;
    vertical-align: middle;
  }

  li {
    display: inline-block;
    margin-right: 6px;

    &:last-child {
      margin-right: 0;
    }
  }
}

