.footer {
  padding: $base-spacing * 2 $base-spacing;
  background-color: $background-color-dark;

  > div {
    @include outer-container;
  }
}

.footer-icon {
  display: block;
  margin: auto;
  height: 40px;
  width: 40px;
  margin-bottom: 2em;

  img {
    max-width: 100%;
  }
}

.footer-links {
  text-align: center;
  list-style: none;
  padding-left: 0;

  a {
    color: $white;
  }

  li {
    display: inline-block;
    margin-right: 10px;

    &:last-child {
      margin-right: 0;
    }
  }
}

