.footer-wrapper {
  background-color: $background-color-dark;
  padding-bottom: $base-spacing;
  padding-top: $base-spacing * 3;
}

.footer-content {
  @include display(flex);
  @include align-items(flex-end);
  @include justify-content(space-between);
  margin-bottom: $base-spacing;
}

.footer-title {
  $title-height: 50px;

  background-size: $title-height $title-height;
  background: url(logos/av-logo.svg);
  background-repeat: no-repeat;
  color: $white;
  display: block;
  font-family: $serif-font-family;
  font-size: 28px;
  font-weight: 300;
  height: $title-height;
  line-height: $title-height;
  padding-left: $title-height;
  text-decoration: none;
  white-space: nowrap;
}

.footer-icon {
  height: 40px;
  width: 40px;
  margin-right: 16px;

  img {
    max-width: 100%;
  }
}

.footer-links {
  text-align: center;
  list-style: none;
  padding-left: 0;

  a {
    color: $white;
    font-size: .8125em;

    &:hover {
      color: darken($white, 10);
    }
  }

  i {
    font-size: 6px;
    color: $base-accent-color;
    vertical-align: middle;
  }

  li {
    display: inline-block;
    margin-right: 6px;

    &:last-child {
      margin-right: 0;
    }
  }
}

