// Header
$header-height: 50px;

.header {
  background-color: inherit;
  padding: 25px 10px;
  margin-bottom: 15px;
}

// Main title
.title {
  text-decoration: none;

  img {
    float: left;
    max-height: $header-height;
  }

  @include media($small-viewport) {
    &::after {
      display: none;
    }
  }

  @include media($medium-viewport-up) {
    img {
      margin: 0 7px;
    }
    &::after {
      line-height: $header-height;
      color: $white;
      content: "AtomVote";
      display: inline-block;
      font-size: 36px;
      height: $header-height;
    }
  }
}

// The new poll button
.new-poll-btn {
  text-decoration: none;
  color: $white-hover;

  &:hover {
    color: $white;
  }

  @include media($small-viewport) {
    i {
      font-size: $header-height;
      line-height: $header-height;
    }
    &::after {
      display: none;
    }
  }
  @include media($medium-viewport-up) {
    padding: 8px;

    i {
      margin-right: 5px;
    }
    &::after {
      content: 'New Poll';
      display: inline-block;
      font-size: 20px;
      line-height: $header-height;
    }
  }
}