.header-wrapper {
  padding-top: $base-spacing * 2;
  padding-bottom: $base-spacing;
  margin-bottom: $base-spacing;
}

.header-content {
  @include display(flex);
  @include justify-content(space-between);
}

.header-title {
  @include av-logo;
  color: $black;
}
