.option-result {
  $bar-height: 25px;
  margin-bottom: $base-spacing;

  .option-label {
    font-size: 1.125em;
    font-style: italic;
    margin-bottom: $base-spacing / 2;
  }

  .stat-container {
    text-align: right;
    p {
      display: inline-block;
    }
  }

  .bar-container {
    margin-bottom: $base-spacing / 2;
  }

  .bar-progress {
    background-color: $background-color-light;
    border-radius: $border-radius;
    overflow: hidden;
  }

  .bar-fill {
    background-color: $light-blue;
    height: $bar-height;
    width: 60%;
  }
}

