.option-result {
  $bar-height: 25px;
  margin-bottom: 20px;

  .option-label {
    font-size: 18px;
    font-style: italic;
    margin-bottom: .625em;
  }

  .option-stats {
    @include outer-container;
  }

  .stat-container {
    text-align: right;
  }

  .bar-container {
    margin-bottom: .625em;
  }

  .bar-progress {
    background-color: $background-color-light;
    border-radius: $border-radius;
    overflow: hidden;
  }

  .bar-fill {
    background-color: $light-blue;
    height: $bar-height;
    width: 60%;
  }
}

