.option-result {
  margin-bottom: $base-spacing;

  &:last-child {
    margin-bottom: 0;
  }

  &[data-num-votes="0"] {
    opacity: .5;
  }
}

.option-label {
  font-size: 1.125em;
  font-style: italic;
  margin-bottom: .625em;
  padding: 0 8px;
}

.option-count {
  font-weight: 600;
}

.stat-container {
  text-align: right;
  padding: 0 8px;

  p {
    display: inline-block;
  }

  .votes-word {
    margin: 0 4px;
  }
}

.votes-precentage {
  color: $boulder;
}

.bar-container {
  margin-bottom: $base-spacing / 2;
}

.bar-progress {
  background-color: $base-background-color;
  overflow: hidden;
}

.bar-fill {
  height: 25px;
  width: 60%;
}

