<footer class="footer-wrapper">
  <div class="footer-content">
    <a href="/" class="footer-title">
      <%= image_tag('logos/atom_vote_logo_500.png', alt: 'AtomVote') %>
      <p>AtomVote</p>
    </a>
    <ul class="footer-links">
      <li><a href="/" class="new-poll-link">+ New Poll</a></li>
      <li><a href="/pages/terms">Terms of Service</a></li>
      <li><a href="/pages/privacy">Privacy Policy</a></li>
    </ul>
  </div>
</footer>
