<footer class="footer-wrapper">
  <div class="footer-content">
    <a href="/" class="footer-title">AtomVote</a>
    <ul class="footer-links">
      <li><a href="/" class="new-poll-link">+ New Poll</a></li>
      <li><a href="/pages/terms">Terms of Service</a></li>
      <li><a href="/pages/privacy">Privacy Policy</a></li>
      <li><a href="/pages/api">API</a></li>
      <li><a href="https://github.com/jordanell/atom-vote/issues">Issues</a></li>
    </ul>
  </div>
</footer>
