<footer class="footer">
  <div>
    <a href="/" class="footer-icon">
      <%= image_tag('logos/atom_vote_logo_225.png', alt: 'AtomVote') %>
    </a>
    <ul class="footer-links">
      <li><a href="/">+ New Poll</a></li>
      <li><a href="/pages/terms">Terms of Service</a></li>
      <li><a href="/pages/privacy">Privacy Policy</a></li>
    </ul>
  </div>
</footer>
