<footer id="footer">
  <div class="navigation-wrapper">
    <div class="links">
      <ul>
        <li>
          <a href="/">New Poll</a>
        </li>
        <li>
          <a href="/pages/terms">Terms of Service</a>
        </li>
        <li>
          <a href="/pages/privacy">Privacy Policy</a>
        </li>
        <li>
          <a href="/">Issues</a>
        </li>
      </ul>
    </div>
    <div class="icon">
      <a href="/">
        <img src="https://s3.amazonaws.com/atomvote-production/meta/logo.png" alt="AtomVote" />
      </a>
    </div>
  </div>
</footer>