<footer class="footer-wrapper">
  <div class='footer-content-wrapper'>
    <div class="footer-content">
      <a href="/" class="footer-title">AtomVote</a>
      <a href='/' class='new-poll-link'>+ <span>New Poll</span></a>
    </div>
  </div>
  <div class='footer-links-wrapper'>
    <ul class="footer-links">
      <li><a href="/pages/terms">Terms of Service</a></li>
      <li><a href="/pages/privacy">Privacy Policy</a></li>
      <li><a href="/pages/api">API</a></li>
      <li><a href="https://github.com/jordanell/atom-vote/issues">Issues</a></li>
    </ul>
  </div>
</footer>
