<% if object.errors.full_messages.length > 0 %>
  <div class="errors-wrapper">
    <p>Errors</p>
    <% if false %>
      <ul>
        <% object.errors.messages.values.each do |msg| %>
          <% msg.each do  |m| %>
            <li><%= m %></li>
          <% end %>
        <% end %>
      </ul>
    <% end %>
  </div>
<% end %>
