<header id="header">
  <div class="navigation-wrapper">
    <div class="left">
      <a href="/">
        <%= image_tag('logos/atom_vote_logo_500.png', alt: 'AtomVote') %>
      </a>
      <span class="title">
        <a href="/">AtomVote</a>
      </span>
    </div>
    <div class="right">
      <a href="/">
        <div class="new-poll-btn">
          <i class="fa fa-plus"></i>
          New Poll
        </button>
      </a>
    </div>
  </div>
</header>