<header class="header --full-width-wrapper">
  <div>
    <div class="left">
      <a href="/" class="title">
        <%= image_tag('logos/atom_vote_logo_500.png', alt: 'AtomVote') %>
      </a>
    </div>
    <div class="right">
      <a href="/" class="new-poll-btn">
        <i class="fa fa-plus"></i>
      </a>
    </div>
  </div>
</header>