<header class="header">
  <a href="/" class="header-title">
    <%= image_tag('logos/atom_vote_logo_500.png', alt: 'AtomVote') %>
    <p>AtomVote</p>
  </a>
  <a href="/" class="new-poll-btn">
    <i class="fa fa-plus"></i>
  </a>
</header>
