<header id="header">
  <div class="navigation-wrapper">
    <div class="left">
      <a href="/">
        <img src="https://s3.amazonaws.com/atomvote-production/meta/logo.png" alt="AtomVote" />
      </a>
      <span class="title">
        AtomVote
      </span>
    </div>
    <div class="right">
      <a href="/">
        <div class="new-poll-btn">
          <i class="fa fa-plus"></i>
          New Poll
        </button>
      </a>
    </div>
  </div>
</header>