<header class='header-wrapper'>
  <div class='header-content'>
    <a href='/' class='header-title'>AtomVote</a>
    <a href='/' class='new-poll-button'>
      <i class='fa fa-plus'></i>
    </a>
  </div>
</header>
