@mixin colorize-button-background($color: $base-accent-color) {
  background-color: $color;

  &:hover {
    background-color: lighten($color, 3);
  }

  &:active {
    background-color: $color;
  }
}
