class Poll

  lastOptionIndex: 0

  constructor: ->
    $('body').append 'wtf'
    # Count how many options exist and start there
    @lastOptionIndex = $('.option-label').length - 1

    @attachListener(@getLastOption())

  getLastOption: ->
    $("#poll_options_attributes_#{@lastOptionIndex}_text")

  attachListener: ($element) ->
    $element.on 'input', @inputListener

  removeListener: ($element) ->
    $element.off 'input'

  inputListener: (e) =>
    # We only allow a maximum of 8 poll options
    if @lastOptionIndex < 7
      @removeListener $(e.currentTarget)

      # Create the new form components
      @lastOptionIndex++
      @addOption()
      @attachListener(@getLastOption())

  addOption: ->
    # Append the new label
    label = "<span class='option-label'>#{@lastOptionIndex+1}.</span>"
    $(label).insertBefore("#new_poll input[type='submit']")

    # Append the new input
    input =  "<div class='input string required poll_options_text'>" +
              "<label class='string required' for='poll_options_attributes_#{@lastOptionIndex}_text'>" +
                "<abbr title='required'>*</abbr> Poll Option" +
              "</label>" +
              "<input class='string required' placeholder='Enter poll option' type='text' name='poll[options_attributes][#{@lastOptionIndex}][text]' id='poll_options_attributes_#{@lastOptionIndex}_text'>" +
            "</div>"
    $(input).insertBefore("#new_poll input[type='submit']")

createPoll = ->
  window.Poll = new Poll $(this)

$(document).ready(createPoll)
$(document).on('page:load', createPoll)
