<div class="poll-share-wrapper">
  <h6>Share this poll</h6>
  <div id="js-share-url" class="share-url" onclick="Utils.selectText(this)">
    <%= request.base_url + "/polls/#{@poll.uuid}" %>
  </div>
</div>
