<div class="poll-share-wrapper">
  <div class="poll-share-inner">
    <h3>Share this poll</h3>
    <input type="text" name="share-link" value="<%= request.original_url %>" onClick="this.select();">
  </div>
</div>
