<!-- Render the sharing options -->
<%= render partial: 'polls/share' %>

<!-- Render the poll results -->
<div class="poll-results-wrapper">
  <div class="poll-data">
    <h2>
      <%= @poll.question %>
    </h2>

    <!-- React results -->
    <%= react_component('PollResult', { poll: PollSerializer.new(@poll) }) %>
  </div>
  <%= react_component('PollMeta', { poll: PollSerializer.new(@poll) }) %>
</div>