<div class="error-wrapper">
  <h2>Whoops!</h2>

  <p>
    A <%= @status_code %> error was caused by your request.
  <p>

  <p>
    Please make sure you are visiting the correct page, or please
    try again.
  </p>
</div>