<div class="errors-wrapper">
  <div class='error-content'>
    <h5>Whoops!</h5>
    <p>A <%= @status_code %> error was caused by your request.<p>
    <p>
      Please make sure you are visiting the correct page, or please
      try again.
    </p>
  </div>
</div>
