form {
  h3 {
    margin-bottom: $base-spacing / 2;
    text-transform: uppercase;
  }
}

//
// Inputs
//
#{$all-text-inputs},
#{$all-text-inputs-focus},
#{$all-text-inputs-hover} {
  outline: 0;
  font-size: inherit;
}

#{$all-text-inputs},
textarea {
  background-color: $base-background-color-15;
  border-radius: $border-radius;
  border: none;
  color: $white-hover;
  font-size: inherit;
  outline: 0;
  padding: .5rem 1rem;
  transition: background .25s;
  width: 100%;
}

// Input focus
#{$all-text-inputs-focus},
textarea {
  color: $white;
}

// Input hover
#{$all-text-inputs-hover},
textarea {
  color: $white;
}