form {

}

#{$all-text-inputs},
#{$all-text-inputs-focus},
#{$all-text-inputs-hover} {
  outline: 0;
  font-size: inherit;
}

// Inputs
#{$all-text-inputs},
textarea {
  background-color: lighten($background-color-medium, 15);
  width: 100%;
  padding: .5rem;
  border: none;
  outline: 0;
  transition: background .25s;
  color: $white-hover;
  font-size: inherit;
}

// Input focus
#{$all-text-inputs-focus},
textarea {
  color: $white;
}