form {
  margin-bottom: $base-spacing * 2;

  ol,
  ul {
    margin-bottom: $base-spacing * 2;
  }

  h3 {
    margin-bottom: $base-spacing / 2;
    text-transform: uppercase;
  }
}

//
// Inputs
//
#{$all-text-inputs},
#{$all-text-inputs-focus},
#{$all-text-inputs-hover} {
  outline: 0;
  font-size: inherit;
}

#{$all-text-inputs},
textarea {
  $form-border-width: 1px;

  @include transition(background .375s ease-in-out);
  background-color: $base-background-color-15;
  border-radius: $border-radius;
  border: 1px solid transparent;
  color: $base-font-color;
  font-size: inherit;
  margin-bottom: 8px;
  outline: 0;
  padding: .75em 1em;
  width: 100%;

  &:focus {
    border: $form-border-width solid $background-color-dark;
  }
}

// Input focus
#{$all-text-inputs-focus},
textarea {
  color: $base-font-color;
}

// Input hover
#{$all-text-inputs-hover},
textarea {
  color: $base-font-color;
}
