// Common list styles
ul, ol {
  margin-bottom: $base-spacing * 3;

  li {
    margin-bottom: .625em;
  }
}

// Ordered list
.numbered-list {
  li {
    counter-increment: step-counter;
  }
  li::before {
    content: counter(step-counter);
    margin-right: 5px;
    padding: 3px 8px;
    color: $white;
  }
}
