// Common list styles
ul, ol {

  li {
    margin-bottom: .625em;
  }
}

// Ordered list
.numbered-list {
  margin-bottom: $base-spacing * 3;

  li {
    counter-increment: step-counter;
  }

  li::before {
    content: counter(step-counter);
    margin-right: 5px;
    padding: 3px 8px;
    color: lighten($base-font-color, $default-contrast * 3);
  }
}

.options-list {
  margin-bottom: $base-spacing;

  li {
    counter-increment: step-counter;
  }

  li::before {
    content: counter(step-counter);
    padding: .875em;
    color: $black;
    position: absolute;
    line-height: 1;
    font-weight: 600;
  }

  input {
    padding-left: 2.55em;
  }
}
