input[type="radio"] {
  display: none;

  & + label {
    @include transition(all .375s ease-in-out);
    cursor: pointer;
    display: inline-block;
    padding-left: $base-spacing;
    position: relative;

    &::before, &::after {
      @include transition(all .375s ease-in-out);
      border-radius: 50%;
      color: $grey-light;
      content: '';
      height: 1em;
      left: 0;
      position: absolute;
      text-align: center;
      top: 0;
      width: 1em;
    }
  }

  // Hover radio button styles
  & + label {
    &::before {
      box-shadow:
        inset 0 0 0 0.125em $white,
        inset 0 0 0 1em $grey-light;
    }

    &:hover::before {
      box-shadow:
        inset 0 0 0 0.25em $white-hover,
        inset 0 0 0 1em $theme-color--25;
    }
  }

  // Checked radio button styles
  &:checked + label {
    &::before {
      box-shadow:
        inset 0 0 0 0 $white,
        inset 0 0 0 1em $theme-color;
    }
  }
}
