input[type="radio"] {
  display: none;

  & + label {
    cursor: pointer;
    display: block;
    position: relative;
    color: $font-medium;

    &::before {
      margin-right: 8px;
      font-size: 1.5em;
      font-family: FontAwesome;
      vertical-align: middle;
      font-weight: initial;
    }
  }

  & + label {
    color: $background-color-light;

    &::before {
      content: '\f10c';
    }
  }

  & + label:hover {
    color: darken($background-color-light, 20);
    font-weight: 600;

    &::before {
      content: '\f05d';
    }
  }

  // Checked radio button styles
  &:checked + label {
    color: $font-dark;
    font-weight: 600;
    pointer-events: none;

    &::before {
      color: $theme-color;
      content: '\f058';
    }
  }
}
