// Put all your shameful hacks in here until so they don't get lost
// *da-ding-ding* *da-ding-ding* SHAME *da-ding-ding*
button[type=submit],
input[type=submit] {
  @include appearance(none);
  background-color: $background-color-light;
  border-radius: 2em;
  border: 0;
  color: $white;
  cursor: pointer;
  font-family: inherit;
  font-size: 1em;
  height: 40px;
  line-height: 40px;
  outline: 0;
  padding: .5em 1em;
  padding: 0 28px;
  text-transform: uppercase;
  white-space: nowrap;

  &:hover {
    opacity: .7;
    box-shadow: $base-box-shadow;
  }

  i {
    margin-right: 8px;
  }
}

.create-poll-button,
.vote-button {
  font-weight: 600;
  background-color: $base-accent-color !important; // SHAMEFUL
}

.field_with_errors input {
  border: 1px solid $red;
}

hr {
  margin-bottom: $base-spacing * 2;
  margin-top: $base-spacing;
  width: 600px;
}

.new_vote {
  max-width: 600px;
  margin-left: auto;
  margin-right: auto;
  border-radius: 4px;
}

.poll-content {
  background-color: $white;
  margin-bottom: $base-spacing;
  padding: 2em;

  ul {
    margin-bottom: 0;
  }
}


.intro-wrapper {
  margin-bottom: $base-spacing * 2;
}

.intro-text {
  // This is from metalabs wf loading classes
  // @include transition(opacity 0.33s cubic-bezier(0.645, 0.045, 0.355, 1) 0.25s);
  // opacity: 1;
  margin-right: 3em;

  + * {
    flex: 1;
  }
}

.intro-content {
  @include display(flex);
  @include justify-content(space-around);
  @include flex-flow(row wrap);
}

// TODO consolidate this with page-cotnent h1 they are the same - uppercase, pool-question too
.intro-text-header {
  border-bottom: 4px solid $base-accent-color;
  padding-bottom: .625em;
  margin-bottom: 1em;
  display: inline-block;
}

.new-poll-link {
  color: $white;
  font-weight: 600;
  border-bottom: 1px dotted $white;
}

.button-group {
  @include display(flex);
  @include justify-content(flex-end);

  > * {
    margin-left: 6px;
    margin-right: 6px;
  }
}

// TODO: make no-accent button for view results and other similar buttons
// TODO: icon on button (affordance?) view reuslts button. maybe a link with an icon?
// TODO: Errors wrapper needs to be the same width as form.
// TODO: the whole background of the votes create page should be white bg, buttons outside of white though.
// TODO: Suppress the simple form classes and put my own, a la new_vote
// TODO: keep vote buttons disabled until vote has been put in.
// TODO: MArign in button group items
// TODO: consolidate white well styles.
// TODO: have question and answer labels on the new poll form
// TODO: have meta data in a 3 or 4 column container. or pice chart straddled with meta. need more than two.

// TODO: align footer to be bottom left and flex box row more padding on top of header
// TODO: add some texture to the share section. eg darker theme blue circles around
// TODO: share poll background should be grey on vote page, blue on results

// TODO: large checks in circles for radios " fa-check-circle"
// differnt icon on create poll.... plus doesnt make the most sense... even double chev or somethin would be better.
