// Put all your shameful hacks in here until so they don't get lost
// *da-ding-ding* *da-ding-ding* SHAME *da-ding-ding*

// Buttons (expand to other types)
input[type=submit] {
  @include appearance(none);
  outline: 0;

  @include transition(all .375s ease-in-out);
  background-color: $theme-color-blue;
  border-radius: $border-radius;
  border: 1px solid transparent;
  color: $base-background-color;
  cursor: pointer;
  font-weight: 600;
  padding: .5em $base-spacing;
  text-decoration: none;

  &:hover {
    background-color: $theme-color-blue--10;
    border: 1px solid transparent;
  }
}