// Put all your shameful hacks in here until so they don't get lost
// *da-ding-ding* *da-ding-ding* SHAME *da-ding-ding*

input[type=submit],
button {
  @include appearance(none);
  outline: 0;

  @include transition(all .375s ease-in-out);
  text-transform: uppercase;
  font-weight: 600;
  background-color: $theme-color;
  border: 1px solid shade($theme-color, 20);
  color: $white;
  padding: .5em 1em;
  cursor: pointer;

  &:hover {
    opacity: .7;
  }
}

.field_with_errors input {
  border: 1px solid $error-red;
}

hr {
  margin-bottom: $base-spacing * 2;
  margin-top: $base-spacing;
  width: 600px;
}

.button-group {
  display: block;
}

.new_vote {
  width: 600px;
  margin-left: auto;
  margin-right: auto;
}
