body {
  margin: 0;
  padding: 0;
  background-color: $background-color-medium;
  font-family: Arial, Helvetica, sans-serif;
}

.left {
  float: left;
}

.right {
  float: right;
}

input[type=submit] {
  background-color: $blue;
  border-radius: $border-radius;
  color: $white;
  padding: 0.75em 1em;
  border: none;

  &:hover {
    color: $white-hover;
    background-color: $blue-hover;
    cursor: pointer;
  }
}