@import 'fonts';
@import 'inputs';
@import 'forms';
@import 'lists';
@import 'grid-settings';

body {
  background-color: $background-color-medium;
  color: $white;
  font-family: Open Sans, Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
}