// Colors
$default-contrast: 10%;
$black: #000000;
$white: #FFFFFF;
$white-hover: darken($white, $default-contrast);
$grey-light: #BBBBBB;
$grey: #999999;
$grey-hover: darken($grey, $default-contrast);
$blue: #37474F;
$blue-hover: darken($blue, $default-contrast);
$light-blue: #6B8A99;
$light-blue-hover: darken($light-blue, $default-contrast);
$red: #F44336;
$red-hover: darken($red, $default-contrast);
$green: #66BB6A;
$green-hover: darken($green, $default-contrast);
$purple: #7C7AEE;
$purple-hover: darken($purple, $default-contrast);
$yellow: #FFCC66;
$yellow-hover: darken($yellow, $default-contrast);

// Background colors
$background-color-light: #6B8A99;
$background-color-medium: #2D2D2D;
$background-color-dark: #263237;
$base-background-color: $background-color-medium;
$base-background-color-5: lighten($background-color-medium, 5%);
$base-background-color-15: lighten($background-color-medium, 15%);

// Theme colors
$theme-color-blue: #61DAFB;
$theme-color-blue-10: lighten($theme-color-blue, 10%);
$theme-color-blue--10: darken($theme-color-blue, 10%);
$theme-color-blue--25: darken($theme-color-blue, 25%);

// Borders
$border-color-medium: #666666;
$border-color-light: #AAAAAA;
$border-radius: 5px;

// Font colors
$font-dark: #333333;
$font-medium: #666666;

// Screen sizes// TODO: deprecate these
$small-screen: 550px;
$medium-screen: 800px;
$large-screen: 1000px;

// Layout realted variables
$base-spacing: 1.5rem;