// Colors
$white: #FFFFFF;
$hover-white: #DDDDDD;

// Background colors
$background-color-dark: #2D2D2D;
$background-color-medium: #969696;

// Theme colors
$theme-color-blue: #61DAFB;

// Border colors
$border-color-medium: #666666;

// Screen sizes
$small-screen: 550px;
$medium-screen: 800px;
$large-screen: 1000px;
