// Colors
$white: #FFFFFF;
$white-hover: #DDDDDD;
$grey-light: #BBBBBB;
$grey: #999999;
$grey-hover: darken($grey, 10%);
$blue: #477DCA;
$blue-hover: darken($blue, 10%);

// Background colors
$background-color-dark: #2D2D2D;
$background-color-medium: #969696;

// Theme colors
$theme-color-blue: #61DAFB;

// Border colors
$border-color-medium: #666666;
$border-color-light: #AAAAAA;

// Border styles
$border-radius: 5px;

// Font colors
$font-dark: #333333;
$font-medium: #666666;

// Screen sizes
$small-screen: 550px;
$medium-screen: 800px;
$large-screen: 1000px;
