// Colors
$black: #000000;
$white: #FFFFFF;
$white-hover: #DDDDDD;
$grey-light: #BBBBBB;
$grey: #999999;
$grey-hover: darken($grey, 10%);
$blue: #37474F;
$blue-hover: darken($blue, 10%);
$light-blue: #6B8A99;
$light-blue-hover: darken($light-blue, 10%);
$red: #F44336;
$red-hover: darken($red, 10%);
$green: #66BB6A;
$green-hover: darken($green, 10%);

// Background colors
$background-color-light: #6B8A99;
$background-color-medium: #2D2D2D;
$background-color-dark: #263237;
$base-background-color: $background-color-medium;

// Theme colors
$theme-color-blue: #61DAFB;
$theme-color-blue-10: lighten($theme-color-blue, 10%);
$theme-color-blue--10: darken($theme-color-blue, 10%);
$theme-color-blue--25: darken($theme-color-blue, 25%);

// Borders
$border-color-medium: #666666;
$border-color-light: #AAAAAA;
$border-radius: 5px;

// Font colors
$font-dark: #333333;
$font-medium: #666666;

// Screen sizes// TODO: deprecate these
$small-screen: 550px;
$medium-screen: 800px;
$large-screen: 1000px;

// Layout realted variables
$base-spacing: 1.5rem;