.errors-wrapper {

  h5 {
    margin: 0;
  }
}

.error-content {
  background-color: lighten($pomegranate, 17);
  border: 1px solid $pomegranate;
  margin-bottom: $base-spacing;
  padding: 2em 1em;
}

.field_with_errors input {
  border: 1px solid $pomegranate;
}

input + .error {
  display: block;
  text-align: right;
  color: $pomegranate;
  padding: 0 6px;
}
