#{$all-text-inputs},
#{$all-text-inputs-focus},
#{$all-text-inputs-hover} {
  outline: 0;
}

#{$all-text-inputs},
textarea {
  @include transition(all .25s ease-out);
  background-color: $white;
  border: 1px solid transparent;
  color: $base-font-color;
  font-size: inherit;
  font-family: $open-sans;
  margin-bottom: 8px;
  outline: 0;
  padding: .75em 1em;
  width: 100%;
}

// Input hover
#{$all-text-inputs-hover},
textarea {
  border: 1px solid $boulder;
  color: $base-font-color;
}

// Input focus
#{$all-text-inputs-focus},
textarea {
  color: $base-font-color;
  box-shadow: $base-box-shadow;

  &,
  &:hover {
    border: 1px solid darken($boulder, 10);
  }
}

