a {
  color: inherit;
  text-decoration: none;
  outline: none;
}

.view-results-link {
  @extend %button;
  background-color: $boulder;
  font-weight: 800;
  color: $white;
}

.new-poll-link {
  @extend %button;
  font-weight: 800;
}
