.options-list {
  margin-bottom: $base-spacing;

  li {
    counter-increment: step-counter;
  }

  li::before {
    content: counter(step-counter);
    padding: 1em;
    color: $black;
    position: absolute;
    line-height: 1;
    font-weight: 600;
    font-size: 1.125em;
  }

  input {
    padding-left: 2.55em;
  }
}
