.options-list {
  margin-bottom: $base-spacing;

  li {
    counter-increment: step-counter;
  }

  li::before {
    content: counter(step-counter);
    padding: 1em;
    color: $black;
    position: absolute;
    line-height: 1;
    font-weight: 600;
  }

  input {
    padding-left: 2.55em;
  }
}

%separated-inline-list {
  @include clearfix;
  text-align: center;

  li {
    float: left;
  }

  li:not(:last-child)::after {
    content: '\f111';
    font-family: FontAwesome;
    vertical-align: middle;
    color: $base-accent-color;
    margin: 0 7px;
    font-size: 7px;
  }
}
