input[type="radio"] {
  display: none;

  // Radio button label
  & + label {
    cursor: pointer;
    display: block;
    position: relative;
    color: $boulder;

    &::before {
      margin-right: 8px;
      font-size: 1.5em;
      font-family: FontAwesome;
      vertical-align: middle;
      font-weight: initial;
      content: '\f10c';
    }
  }

  // Hover radio button styles
  & + label:hover {
    color: darken($boulder, 17);

    &::before {
      content: '\f111';
    }
  }

  // Checked radio button styles
  &:checked + label {
    color: $mine-shaft;
    font-weight: 600;
    pointer-events: none;

    &::before {
      color: $base-accent-color;
      content: '\f111';
    }
  }
}
