// Put all your shameful hacks in here until so they don't get lost
// *da-ding-ding* *da-ding-ding* SHAME *da-ding-ding*
.poll-content {
  background-color: $white;
  margin-bottom: $base-spacing;
  padding: 2em;
}

// Had to change the button_to to a link becasue
// button_to creates a form and submit its parent form
.view-results-link {
  @extend %button;
  background-color: $boulder;
  font-weight: 800;
}

input + .error {
  display: block;
  text-align: right;
  color: $pomegranate;
  padding: 0 6px;
  display: none;
}

// TODO: keep vote buttons disabled until vote has been put in.
// TODO: consolidate white well styles.
// TODO: have question and answer labels on the new poll form
// TODO: add some texture to the share section. eg darker theme blue circles around
// TODO: multi line questions and ansers on vote page
// TODO: Handle case where 0 votes wont render the donut chart

// TODO: opacity in buttons needs ot change background color so shdow doesnt get too light and look gray.

// TODO: something like this http://stackoverflow.com/questions/24876497/animate-svg-electron-around-ring
