.footer-wrapper {
  background-color: $mine-shaft;
  padding-top: $base-spacing * 2;
}

.footer-content {
  @include display(flex);
  @include align-items(center);
  @include justify-content(space-between);
  margin-bottom: $base-spacing;
}

.footer-content .new-poll-link {
  border: 1px dashed $athens-gray;
  color: $athens-gray;

  &:hover {
    border: 1px dashed $white;
    color: $white;
  }

  @include media($small-viewport) {
    margin-bottom: $base-spacing;
  }
}

.footer-title {
  @include av-logo;
  color: $white;

  @include media($small-viewport) {
    @include av-logo(45px);
    margin-bottom: $base-spacing;
  }
}

.footer-links-wrapper {
  background-color: $black;
  padding: 4px 0;
}

.footer-links {
  @extend %separated-inline-list;
  @include display(flex);
  @include justify-content(center);
  padding: 0 14px;

  a {
    color: $white;
    font-size: .8125em;

    &:hover {
      color: darken($white, 10);
    }
  }
}

.new-poll-link {
  color: $white;
  font-weight: 600;
  border-bottom: 1px dotted $white;
}
