.footer-wrapper {
  background-color: $mine-shaft;
  padding-bottom: $base-spacing;
  padding-top: $base-spacing * 3;
}

.footer-content {
  @include display(flex);
  @include align-items(center);

  @include media($small-viewport) {
    @include flex-direction(column);
    @include justify-content(space-around);
  }

  @include media($medium-viewport-up) {
    @include justify-content(space-between);
    margin-bottom: $base-spacing;
  }
}

.footer-title {
  @include av-logo;
  color: $white;

  @include media($small-viewport) {
    margin-bottom: $base-spacing;
  }
}

.footer-links {
  @extend %separated-inline-list;

  a {
    color: $white;
    font-size: .8125em;

    &:hover {
      color: darken($white, 10);
    }
  }
}

.new-poll-link {
  color: $white;
  font-weight: 600;
  border-bottom: 1px dotted $white;
}
