input + .error {
  display: block;
  text-align: right;
}

.error-wrapper {
  text-align: center;
  margin-top: 20px;
}

.errors-wrapper {
  background-color: lighten($pomegranate, 37);
  border: 1px solid $pomegranate;
  margin-bottom: $base-spacing;
  padding: .75em 1em;

  h5 {
    margin: 0;
  }
}
