input + .error {
  display: block;
  text-align: right;
}

.error-wrapper {
  @include outer-container;

  text-align: center;
  background-color: $white-hover;
  margin-top: 20px;
  margin-bottom: 20px;
  padding: 20px 75px;
  border-radius: $border-radius;

  @include media($small-viewport) {
    padding: 20px;
  }
}

.errors-wrapper {
  background-color: #222;
  border-radius: $border-radius;
  border: 3px solid $white-hover;
  margin-bottom: 20px;
  padding: 15px 25px;

  h5 {
    margin: 0;
  }
}
