.poll-meta {
  width: 30%;
}

.poll-stat {
  text-align: center;
  margin-bottom: .625em;

  .data-value {
    font-weight: 600;
  }

  .data-label {
    color: lighten($base-font-color, 30);
    text-transform: uppercase;
  }
}
