.poll-result-wrapper {
}

.poll-result-question {
  font-size: 1.5em;
  line-height: 1.5em;
  margin-bottom: .25em;
}

.poll-result-content {
  background-color: $white;
  margin-bottom: $base-spacing;
  padding-bottom: 2em;
  padding-top: 2em;
}
